body {
  margin-left: 60px;
  background-color: #010f28;
  background-image: url("https://64.media.tumblr.com/f74d7cc35e3c4ed6fc11f560fe38b2a7/tumblr_inline_ny82m7qGH41ro20i7_540.gifv");
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: aliceblue;
}

.bmi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.bmiinpt {
  height: 40px;
  border-radius: 20px;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  font-size: 16px;
  width: 400px;
  padding: 15px;
}

.bmiinput {
  padding: 30px;
}

.btn {
  text-align: center;
}
.bmibtn {
  height: 50px;
  width: 180px;
  border-radius: 30px;
  background-color: #ccc;
  color: black;
  border: 1px solid #999;
  cursor: pointer;
}

.bmibtn:hover {
  background-color: #2e726c;
  font-size: 18px;
  font-weight: 500;
}

.bmibtn:active {
  background-color: #233123;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.undo {
  height: 50px;
  width: 180px;
  border-radius: 30px;
  background-color: rgb(25, 10, 238);
  color: aliceblue;
  font-size: 16px;
  border: 1px solid #999;
  margin-top: 20px;
  margin-bottom: 30px;
}

.datacontainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 40px;
  height: auto;
  text-align: center;
  color: aliceblue;
  padding-bottom: 30px;
  padding-top: 30px;
}

.cardcontainer {
  border-radius: 20px;
  background-color: #464b53;
  opacity: 0.5;
  margin: 10px;
  text-align: center;
}

.bmidata {
  padding: 10px;
  font-weight: 700;
  color: rgb(248, 218, 121);
}

span {
  margin: 5px;
}

.deletebtn {
  background-color: green;
  cursor: pointer;
  border-radius: 30%;
  margin-left: 95%;
  padding: 8px;
}

.deletebtn:hover {
  background-color: red;
  font-size: 18px;
  font-weight: 500;
}
